<h1><p>
  <strong> <%= t('.header') %></strong>
  <%= @test.title %>
</p>
<p>
  <strong><%= t('.level')%></strong>
  <%= @test.level %>
</p></h1>

<h3> <%= t('.question') %> </h3>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<ol>
  <%= render @test.questions %>
</ol>

<p><%= link_to t('.edit'), edit_admin_test_path(@test) %>
   <%= link_to t('.back'), admin_tests_path %>
   <%= link_to t('.delete'), admin_test_path(@test), method: :delete, data: {confirm: 'Are you sure?'}%>
</p>
