<h1> <%= t('.header') %> </h1>

<table border="2" cellspacing="5" bordercolor="#008080">
  <tr>
    <th><%= t('.table.title')%> </th>
    <th><%= t('.table.level')%></th>
    <th><%= t('.table.question')%></th>
    <th><%= t('.table.action')%></th>
  </tr>
  <%= render @tests %>
</table>
