<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>
<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>
<p><%= link_to 'Questions', test_questions_path(@test) %></p>

<p><%= link_to 'Edit', edit_test_path(@test) %></p>
<p><%= link_to 'Back', tests_path %></p>

<div> <%= link_to fa_icon('trash-o'), test_path(@test), method: :delete, title: 'Delete test' %> </div>
