<!DOCTYPE html>
<html>
  <head>
    <title> <%=t('.testguru')%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'shared/flash' %>
      <% if user_signed_in? %>
      <div class="nav nav-user">
      <span class="nav-admin title"><%=link_to t('.testguru'), root_path %></span>
      <div class="nav-admin user"> <%= t('.welcome', name: current_user.first_name)%>
      <%= button_to t('.logout'), destroy_user_session_path, method: :delete, data: {confirm: t('.confirm')}%>
      </div></div>
      <% end %>

      <%= yield %>
    </div>
  <%= render 'shared/footer' %>
  </body>
</html>
